.dark{
 
    cursor: pointer;
    fill: var(--header-primary-color, #fff);
    box-sizing: content-box;
}

.light{
    cursor: pointer;
    fill: var(--header-primary-color, #003087);
    box-sizing: content-box;
}